.elements-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 4rem;
    padding: 3rem;
    overflow: auto;
}

.element-container {
    background: #EEEEEE;
    box-shadow: #80808073 0 10px 20px;
    border-radius: 0.2rem;
    height: 14rem;
    width: 10rem;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    position: relative;
}

.element-container:last-child {
    margin-bottom: 3rem;
}

.element-container footer {
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 0 0 0.2rem 0.2rem;
}

.element-container footer span:first-child {
    color: #F35A5A;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.element-container footer span:last-child {
    color: #FF7B7B;
    font-size: 0.8rem;
    font-weight: bold;
}

.options {
    position: absolute;
    top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: -webkit-fill-available;
    padding: 0 1rem;
    align-items: center;
}

.options img {
    width: 1.3rem;
}

.options img:first-child {
    justify-self: left;
}

.options img:last-child {
    justify-self: right;
}

.new {
    width: 5rem;
    height: 5rem;
    background: #FF7B7B;
    box-shadow: #80808073 0 10px 20px;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-radius: 0.2rem;
    padding-top: 0.75rem;
    cursor: pointer;
}

.new img {
    width: 3.5rem;
}