.login-container {
    padding-top: 5em;
}

.login-container form {
    background: #F35A5A;
    border: 0;
    border-radius: 5px;
    box-shadow: #80808073 0 10px 20px;
    padding: 20px;
    max-width: 300px;
    height: 420px;
    text-align: center;
    margin: 0 auto;
}

.login-label {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

.login-container form button {
    background: white;
    border: 0;
    border-radius: 2px;
    line-height: 2em;
    cursor: pointer;
    color: #F35A5A;
    margin-top: 1em;
    /*padding: 0.5em 1em;*/
    font-weight: bold;
    font-size: 1em;
    height: 3rem;
    width: 6rem;
}

.input {
    display: flex;
    flex-direction: column;
}

.input label {
    font-size: 1em;
    font-weight: normal;
    padding: 0.5em 0 0 0;
    text-align: left;
    color: white;
}

.input input {
    border: 0;
    border-radius: 2px;
    line-height: 2em;
    padding: 0.2em 0.4em;
    color: gray;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    width: auto;
}